.home-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f6f4ee;
    width: 3000px;
    height: 3756px;
}
.sem-ttulo-1-1 {
    position: absolute;
    top: 960px;
    left: 216px;
    width: 1079px;
    height: 1180px;
    object-fit: cover;
}
.home-item {
    position: absolute;
    top: 104px;
    left: 303px;
    border-radius: 30px;
    width: 224px;
    height: 56px;
}
.f9dd77dcd2e4dea55bd34c83fe0e9-icon {
    position: absolute;
    top: 460px;
    left: 26px;
    border-radius: 30px;
    width: 324px;
    height: 391px;
    object-fit: cover;
}
.arte {
    font-weight: 800;
}
.sem-pblico {
    font-weight: 500;
}
.arte-sem-pblico-container {
    position: absolute;
    top: 260px;
    left: 45px;
    font-size: 64px;
    line-height: 80px;
    color: #100c08;
    display: inline-block;
    width: 779px;
    height: 218px;
    opacity: 0.76;
}
.leia-matrias-visite {
    font-weight: 600;
}
.leia-matrias-visite-container {
    position: absolute;
    top: 1025px;
    left: 45px;
    font-size: 64px;
    line-height: 80px;
    color: #100c08;
    display: inline-block;
    width: 1117px;
    height: 218px;
    opacity: 0.76;
}
.c6774c7807045c68c539d37de347a6-icon {
    position: absolute;
    top: 460px;
    left: 385px;
    border-radius: 30px;
    width: 352px;
    height: 391px;
    object-fit: cover;
}
.deeacad0a9c1b0d11dc5d219139cf5-icon {
    position: absolute;
    top: 460px;
    left: 783px;
    border-radius: 30px;
    width: 344px;
    height: 391px;
    object-fit: cover;
}
.c4ed0f60f707d9a53e4fe441529d21-icon {
    position: absolute;
    top: 460px;
    left: 1162px;
    border-radius: 30px;
    width: 324px;
    height: 391px;
    object-fit: cover;
}
.basquiat-sem-ttulo {
    position: absolute;
    top: 851px;
    left: 76px;
    line-height: 80px;
    font-weight: 500;
}
.basquiat-cest-un {
    position: absolute;
    top: 851px;
    left: 442px;
    line-height: 80px;
    font-weight: 500;
}
.basquiat-birds-on {
    position: absolute;
    top: 855px;
    left: 836px;
    line-height: 80px;
    font-weight: 500;
}
.basquiat-seeself {
    position: absolute;
    top: 855px;
    left: 1239px;
    line-height: 80px;
    font-weight: 500;
}
.basquiat-stardust {
    position: absolute;
    top: 1749px;
    left: 1239px;
    line-height: 80px;
    font-weight: 500;
}
.basquiat-sans-cadre {
    position: absolute;
    top: 1749px;
    left: 865px;
    line-height: 80px;
    font-weight: 500;
}
.basquiat-sem-ttulo1 {
    position: absolute;
    top: 1749px;
    left: 471px;
    line-height: 80px;
    font-weight: 500;
}
.basquiat-une-dilletante {
    position: absolute;
    top: 1749px;
    left: 75px;
    line-height: 80px;
    font-weight: 500;
}
.coletnea-de-arte {
    margin: 0;
}
.coletnea-de-arte-container {
    position: absolute;
    top: 262px;
    left: 806px;
    font-size: 24px;
    line-height: 52px;
    font-weight: 500;
    display: inline-block;
    width: 437px;
    height: 148px;
}
.f84c6b3135c2187e95622e761e8977-icon {
    position: absolute;
    top: 1358px;
    left: 26px;
    border-radius: 30px;
    width: 324px;
    height: 391px;
    object-fit: cover;
}
.dc3f32db77e2dc238a34e399c7dd6-icon {
    position: absolute;
    top: 1358px;
    left: 385px;
    border-radius: 30px;
    width: 352px;
    height: 391px;
    object-fit: cover;
}
.e06878bd9cfa245db4a5d184635e3e-icon {
    position: absolute;
    top: 1358px;
    left: 783px;
    border-radius: 30px;
    width: 344px;
    height: 391px;
    object-fit: cover;
}
.d2a0eb563285e40653c6e4b3fc7081-icon {
    position: absolute;
    top: 1358px;
    left: 1162px;
    border-radius: 30px;
    width: 324px;
    height: 391px;
    object-fit: cover;
}
.arte-educao {
    position: absolute;
    top: 1984px;
    left: 796px;
    font-size: 71px;
    line-height: 80px;
    color: #100c08;
    opacity: 0.71;
}
.a-arte-e {
    position: absolute;
    top: 2177px;
    left: 802px;
    font-size: 20px;
    line-height: 33px;
    color: #52504b;
    display: inline-block;
    width: 619px;
}
.home-inner {
    position: absolute;
    top: 1952.5px;
    left: 726.5px;
    border-right: 3px solid #52504b;
    box-sizing: border-box;
    width: 3px;
    height: 751px;
}
.f50abea1bbae5983d6a3922148bd6c-icon {
    position: absolute;
    top: 1999px;
    left: 90px;
    border-radius: 30px;
    width: 564px;
    height: 663px;
    object-fit: cover;
}
.sem-ttulo-1-11 {
    position: absolute;
    top: 2759px;
    left: 578px;
    width: 815px;
    height: 891px;
    object-fit: cover;
}
.sobre-ns {
    position: absolute;
    top: 2813px;
    left: 90px;
    font-size: 71px;
    line-height: 80px;
    color: #100c08;
    opacity: 0.71;
}
.o-blog-aborda-container {
    position: absolute;
    top: 2952px;
    left: 90px;
    font-size: 20px;
    line-height: 33px;
    font-weight: 300;
    color: #100c08;
    display: inline-block;
    width: 907px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #9c8dee;
    width: 2000px;
    height: 288px;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    background-color: #6951eb;
    width: 164px;
    height: 35px;
}
.rectangle-group {
    position: absolute;
    top: 183px;
    left: 629px;
    width: 164px;
    height: 35px;
    cursor: pointer;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    background-color: #6951eb;
    width: 223px;
    height: 35px;
}
.novos-artistas {
    position: absolute;
    top: 3px;
    left: 8px;
}
.rectangle-container {
    position: absolute;
    top: 182px;
    left: 923px;
    width: 223px;
    height: 35px;
    cursor: pointer;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    background-color: #6951eb;
    width: 135px;
    height: 35px;
}
.incio {
    position: absolute;
    top: 3px;
    left: 21px;
}
.group-div {
    position: absolute;
    top: 182px;
    left: 364px;
    width: 135px;
    height: 35px;
}
.sem-ttulo-3-1-1 {
    position: absolute;
    top: 43px;
    left: 45px;
    width: 317px;
    height: 59px;
    object-fit: cover;
}
.image-1-icon {
    position: absolute;
    top: 7.17px;
    left: 65.96px;
    width: 54.5px;
    height: 58.8px;
    object-fit: cover;
}
.image-2-icon {
    position: absolute;
    top: 7.17px;
    left: 130.49px;
    width: 47.3px;
    height: 63.1px;
    object-fit: cover;
}
.image-3-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 55.9px;
    height: 76px;
    object-fit: cover;
}
.image-1-parent {
    position: absolute;
    top: 163px;
    left: 1276px;
    width: 177.8px;
    height: 76px;
}
.rectangle-parent {
    position: absolute;
    top: 3468px;
    left: 0px;
    width: 2000px;
    height: 288px;
    font-size: 24px;
    color: #f6f4ee;
}
.sem-ttulo-1-2 {
    position: absolute;
    top: 86px;
    left: 96px;
    width: 84px;
    height: 92px;
    object-fit: cover;
}
.exposies2 {
    position: absolute;
    top: 111px;
    left: 664px;
    font-size: 32px;
    font-weight: 500;
    color: #52504b;
    cursor: pointer;
}
.novos-artistas1 {
    position: absolute;
    top: 111px;
    left: 1043px;
    font-size: 32px;
    font-weight: 500;
    color: #52504b;
    cursor: pointer;
}
.line-div {
    position: absolute;
    top: 76.5px;
    left: 545.5px;
    border-right: 3px solid #52504b;
    box-sizing: border-box;
    width: 3px;
    height: 103px;
}
.home-child1 {
    position: absolute;
    top: 76.5px;
    left: 972.5px;
    border-right: 3px solid #52504b;
    box-sizing: border-box;
    width: 3px;
    height: 103px;
}
.home1 {
    position: absolute;
    top: 111px;
    left: 378px;
    font-size: 32px;
    font-weight: 500;
    color: #52504b;
}
.ellipse-div {
    position: absolute;
    top: 113px;
    left: 489px;
    border-radius: 50%;
    background-color: #53539f;
    width: 27px;
    height: 27px;
}
.home {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 3756px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #47433f;
    font-family: Sono;
}

